AnonymousTypes/bin/
AnonymousTypes/obj/
AsyncDemo/bin/
AsyncDemo/obj/
EventsAndDelegatesDemo/bin/
EventsAndDelegatesDemo/obj/
ExceptionHandlingDemo/bin/
ExceptionHandlingDemo/obj/
ExtensionMethods/bin/
ExtensionMethods/obj/
FirstProgram/bin/
FirstProgram/obj/
LoggingDemo/bin/
LoggingDemo/obj/
SingletonDemo/bin
SingletonDemo/obj
SerializationDemo/bin/
SerializationDemo/obj/
UnitTestAgain/bin/
UnitTestAgain/obj/
UnitTestAgain/UnitTestImplementation/bin/
UnitTestAgain/UnitTestImplementation/obj/
UnitTestAgain/UnitTestLibrary/bin/
UnitTestAgain/UnitTestLibrary/obj/
UnitTestingDemo/bin/
UnitTestingDemo/UnitTestingLibrary.Tests/bin/
UnitTestingDemo/UnitTestingLibrary.Tests/obj/
UnitTestingDemo/UnitTestingLibrary/bin/
UnitTestingDemo/UnitTestingLibrary/obj/
UnitTestingLibrary_MSTest/bin/
UnitTestingLibrary_MSTest/obj/
ValueRefTypes/bin/
ValueRefTypes/obj/
